{% extends 'emails/base.html' %}
{% block content %}
<h2>Password Reset Request</h2>
<p>Hi {{ user_name }},</p>
<p>We received a request to reset your password for your FANN account.</p>

<div class="info-box">
    <p>Click the button below to reset your password. This link will expire in 1 hour.</p>
</div>

<a href="{{ reset_url }}" class="button">Reset Password</a>

<p style="margin-top: 20px;">If you didn't request a password reset, please ignore this email or contact our support team if you have concerns.</p>

<p>For security reasons, this link will expire in 1 hour.</p>

<p>Best regards,<br>The FANN Team</p>
{% endblock %}